body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1291px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:210px;
  width:1230px;
  height:63px;
}
#u50_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1230px;
  height:63px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u51 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1230px;
  height:63px;
}
#u52_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:63px;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:63px;
  font-size:18px;
  color:#999999;
}
#u52_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:201px;
  word-wrap:break-word;
}
#u53_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:63px;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:0px;
  width:205px;
  height:63px;
  font-size:18px;
  color:#999999;
}
#u53_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:201px;
  word-wrap:break-word;
}
#u54_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:63px;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:0px;
  width:205px;
  height:63px;
  font-size:18px;
  color:#999999;
}
#u54_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:201px;
  word-wrap:break-word;
}
#u55_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:63px;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:615px;
  top:0px;
  width:205px;
  height:63px;
  font-size:18px;
  color:#999999;
}
#u55_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:201px;
  word-wrap:break-word;
}
#u56_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:63px;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:0px;
  width:205px;
  height:63px;
  font-size:18px;
  color:#999999;
}
#u56_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:201px;
  word-wrap:break-word;
}
#u57_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:63px;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:1025px;
  top:0px;
  width:205px;
  height:63px;
  font-size:18px;
  color:#999999;
}
#u57_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:201px;
  word-wrap:break-word;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:63px;
  width:205px;
  height:126px;
  visibility:hidden;
}
#u58_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:126px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u59 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:126px;
}
#u60_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:63px;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:63px;
  font-size:18px;
  color:#999999;
}
#u60_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:201px;
  word-wrap:break-word;
}
#u61_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:63px;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:63px;
  width:205px;
  height:63px;
  font-size:18px;
  color:#999999;
}
#u61_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:201px;
  word-wrap:break-word;
}
#u62_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:559px;
  height:177px;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:391px;
  top:23px;
  width:559px;
  height:177px;
}
#u62_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#2276D3;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:555px;
  top:318px;
  width:231px;
  height:37px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#2276D3;
}
#u63_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  white-space:nowrap;
}
#u64_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:650px;
  width:317px;
  height:64px;
}
#u64_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  word-wrap:break-word;
}
#u65_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:512px;
  top:650px;
  width:317px;
  height:64px;
}
#u65_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  word-wrap:break-word;
}
#u66_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:973px;
  top:650px;
  width:317px;
  height:64px;
}
#u66_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  word-wrap:break-word;
}
#u67_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:1039px;
  width:317px;
  height:64px;
}
#u67_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  word-wrap:break-word;
}
#u68_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:517px;
  top:1039px;
  width:317px;
  height:64px;
}
#u68_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  word-wrap:break-word;
}
#u69_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:974px;
  top:1039px;
  width:317px;
  height:64px;
}
#u69_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  word-wrap:break-word;
}
#u71_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:1356px;
  width:113px;
  height:29px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u71_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u72_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:589px;
  top:1356px;
  width:193px;
  height:29px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u72_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  white-space:nowrap;
}
#u73_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:879px;
  top:1356px;
  width:87px;
  height:29px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u73_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u74_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:243px;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:380px;
  width:228px;
  height:243px;
}
#u74_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:243px;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:562px;
  top:380px;
  width:228px;
  height:243px;
}
#u75_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:243px;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:1018px;
  top:380px;
  width:228px;
  height:243px;
}
#u76_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:243px;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:766px;
  width:228px;
  height:243px;
}
#u77_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:243px;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:562px;
  top:766px;
  width:228px;
  height:243px;
}
#u78_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:243px;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:1018px;
  top:766px;
  width:228px;
  height:243px;
}
#u79_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: aliceblue;
  color: black;
  text-align: center;
  padding: 10px;
  font-size: 15px;
  margin: 0 auto;
}
#wrap {
  width: 900px;
  margin: 0 auto;
}