/* DEVELOPER: Steven Chirico, IS117-004, Spring 2019 */
body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1290px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:210px;
  width:1230px;
  height:63px;
}
#u80_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1230px;
  height:63px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u81 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1230px;
  height:63px;
}
#u82_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:63px;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:63px;
  font-size:18px;
  color:#999999;
}
#u82_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:201px;
  word-wrap:break-word;
}
#u83_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:63px;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:0px;
  width:205px;
  height:63px;
  font-size:18px;
  color:#999999;
}
#u83_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:201px;
  word-wrap:break-word;
}
#u84_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:63px;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:0px;
  width:205px;
  height:63px;
  font-size:18px;
  color:#999999;
}
#u84_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:201px;
  word-wrap:break-word;
}
#u85_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:63px;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:615px;
  top:0px;
  width:205px;
  height:63px;
  font-size:18px;
  color:#999999;
}
#u85_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:201px;
  word-wrap:break-word;
}
#u86_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:63px;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:0px;
  width:205px;
  height:63px;
  font-size:18px;
  color:#999999;
}
#u86_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:201px;
  word-wrap:break-word;
}
#u87_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:63px;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:1025px;
  top:0px;
  width:205px;
  height:63px;
  font-size:18px;
  color:#999999;
}
#u87_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:201px;
  word-wrap:break-word;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:63px;
  width:205px;
  height:126px;
  visibility:hidden;
}
#u88_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:126px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u89 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:126px;
}
#u90_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:63px;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:63px;
  font-size:18px;
  color:#999999;
}
#u90_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:201px;
  word-wrap:break-word;
}
#u91_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:63px;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:63px;
  width:205px;
  height:63px;
  font-size:18px;
  color:#999999;
}
#u91_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:201px;
  word-wrap:break-word;
}
#u92_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:559px;
  height:177px;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:391px;
  top:23px;
  width:559px;
  height:177px;
}
#u92_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#2276D3;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:316px;
  width:222px;
  height:37px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#2276D3;
}
#u93_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  white-space:nowrap;
}
#u94_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:636px;
  width:317px;
  height:64px;
}
#u94_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  word-wrap:break-word;
}
#u95_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:512px;
  top:636px;
  width:317px;
  height:64px;
}
#u95_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  word-wrap:break-word;
}
#u96_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:973px;
  top:636px;
  width:317px;
  height:64px;
}
#u96_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  word-wrap:break-word;
}
#u97_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:1025px;
  width:317px;
  height:64px;
}
#u97_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  word-wrap:break-word;
}
#u98_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:517px;
  top:1025px;
  width:317px;
  height:64px;
}
#u98_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  word-wrap:break-word;
}
#u99_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:973px;
  top:1025px;
  width:317px;
  height:64px;
}
#u99_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  word-wrap:break-word;
}
#u101_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:1360px;
  width:113px;
  height:29px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u101_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u102_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:594px;
  top:1360px;
  width:193px;
  height:29px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u102_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  white-space:nowrap;
}
#u103_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:884px;
  top:1360px;
  width:87px;
  height:29px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u103_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u104_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:233px;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:385px;
  width:257px;
  height:233px;
}
#u104_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:233px;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:547px;
  top:385px;
  width:257px;
  height:233px;
}
#u105_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:233px;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:1003px;
  top:385px;
  width:257px;
  height:233px;
}
#u106_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:233px;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:762px;
  width:257px;
  height:233px;
}
#u107_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:233px;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:547px;
  top:762px;
  width:257px;
  height:233px;
}
#u108_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:233px;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:1003px;
  top:762px;
  width:257px;
  height:233px;
}
#u109_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: aliceblue;
  color: black;
  text-align: center;
  padding: 10px;
  font-size: 15px;
  margin: 0 auto;
}
#wrap {
  width: 90%;
  margin: 0 auto;
}