/* DEVELOPER: Steven Chirico, IS117-004, Spring 2019 */
body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1290px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u174 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:210px;
  width:1230px;
  height:63px;
}
#u174_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1230px;
  height:63px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u175 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1230px;
  height:63px;
}
#u176_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:63px;
}
#u176 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:63px;
  font-size:18px;
  color:#999999;
}
#u176_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:201px;
  word-wrap:break-word;
}
#u177_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:63px;
}
#u177 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:0px;
  width:205px;
  height:63px;
  font-size:18px;
  color:#999999;
}
#u177_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:201px;
  word-wrap:break-word;
}
#u178_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:63px;
}
#u178 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:0px;
  width:205px;
  height:63px;
  font-size:18px;
  color:#999999;
}
#u178_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:201px;
  word-wrap:break-word;
}
#u179_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:63px;
}
#u179 {
  border-width:0px;
  position:absolute;
  left:615px;
  top:0px;
  width:205px;
  height:63px;
  font-size:18px;
  color:#999999;
}
#u179_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:201px;
  word-wrap:break-word;
}
#u180_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:63px;
}
#u180 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:0px;
  width:205px;
  height:63px;
  font-size:18px;
  color:#999999;
}
#u180_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:201px;
  word-wrap:break-word;
}
#u181_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:63px;
}
#u181 {
  border-width:0px;
  position:absolute;
  left:1025px;
  top:0px;
  width:205px;
  height:63px;
  font-size:18px;
  color:#999999;
}
#u181_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:201px;
  word-wrap:break-word;
}
#u182 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:63px;
  width:205px;
  height:126px;
  visibility:hidden;
}
#u182_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:126px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u183 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:126px;
}
#u184_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:63px;
}
#u184 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:63px;
  font-size:18px;
  color:#999999;
}
#u184_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:201px;
  word-wrap:break-word;
}
#u185_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:63px;
}
#u185 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:63px;
  width:205px;
  height:63px;
  font-size:18px;
  color:#999999;
}
#u185_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:201px;
  word-wrap:break-word;
}
#u186_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:559px;
  height:177px;
}
#u186 {
  border-width:0px;
  position:absolute;
  left:391px;
  top:23px;
  width:559px;
  height:177px;
}
#u186_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u187_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#2276D3;
}
#u187 {
  border-width:0px;
  position:absolute;
  left:597px;
  top:318px;
  width:147px;
  height:37px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#2276D3;
}
#u187_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  white-space:nowrap;
}
#u188_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:728px;
  height:107px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u188 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:389px;
  width:728px;
  height:107px;
}
#u188_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:728px;
  word-wrap:break-word;
}
#u189 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:615px;
  width:213px;
  height:34px;
}
#u189_input {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:34px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u190 {
  border-width:0px;
  position:absolute;
  left:699px;
  top:615px;
  width:232px;
  height:34px;
}
#u190_input {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:34px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u191 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:727px;
  width:511px;
  height:34px;
}
#u191_input {
  position:absolute;
  left:0px;
  top:0px;
  width:511px;
  height:34px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u192_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u192 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:578px;
  width:88px;
  height:27px;
  font-size:20px;
}
#u192_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  word-wrap:break-word;
}
#u193_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u193 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:690px;
  width:88px;
  height:27px;
  font-size:20px;
}
#u193_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  word-wrap:break-word;
}
#u194_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u194 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:783px;
  width:140px;
  height:27px;
  font-size:20px;
}
#u194_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u195_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
}
#u195 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:649px;
  width:54px;
  height:21px;
  font-size:16px;
  color:#999999;
}
#u195_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  word-wrap:break-word;
}
#u196_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
}
#u196 {
  border-width:0px;
  position:absolute;
  left:699px;
  top:649px;
  width:54px;
  height:21px;
  font-size:16px;
  color:#999999;
}
#u196_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  word-wrap:break-word;
}
#u197_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(34, 118, 211, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u197 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:1353px;
  width:140px;
  height:40px;
  font-size:20px;
}
#u197_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  word-wrap:break-word;
}
#u198_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#2276D3;
}
#u198 {
  border-width:0px;
  position:absolute;
  left:597px;
  top:517px;
  width:186px;
  height:37px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#2276D3;
}
#u198_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  white-space:nowrap;
}
#u199 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:820px;
  width:511px;
  height:34px;
}
#u199_input {
  position:absolute;
  left:0px;
  top:0px;
  width:511px;
  height:34px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u200_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u200 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:878px;
  width:324px;
  height:27px;
  font-size:20px;
}
#u200_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  word-wrap:break-word;
}
#u201 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:915px;
  width:511px;
  height:139px;
}
#u201_input {
  position:absolute;
  left:0px;
  top:0px;
  width:511px;
  height:139px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u202_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u202 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:1074px;
  width:393px;
  height:27px;
  font-size:20px;
}
#u202_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  word-wrap:break-word;
}
#u203 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:1111px;
  width:511px;
  height:219px;
}
#u203_input {
  position:absolute;
  left:0px;
  top:0px;
  width:511px;
  height:219px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u205_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u205 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:1587px;
  width:113px;
  height:29px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u205_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u206_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u206 {
  border-width:0px;
  position:absolute;
  left:535px;
  top:1587px;
  width:193px;
  height:29px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u206_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  white-space:nowrap;
}
#u207_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u207 {
  border-width:0px;
  position:absolute;
  left:825px;
  top:1587px;
  width:87px;
  height:29px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u207_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: aliceblue;
  color: black;
  text-align: center;
  padding: 10px;
  font-size: 15px;
  margin: 0 auto;
}
#wrap {
  width: 90%;
  margin: 0 auto;
}
.form-bootstrap{
  border-width:0px;
  position:absolute;
  left:300px;
  top:500px;
  width:213px;
  height:620px;
  padding-bottom: 50px;
}
/*
#exampleInputQ1{
  border-width:1px;
  position:absolute;
  width:511px;
  height:219px;
}
*/